-#
-# Redhopper - Kanban boards for Redmine, inspired by Jira Agile (formerly known as
-# Greenhopper)
-# Copyright (C) 2015-2019 infoPiiaf <contact@infopiiaf.fr>
-#
-# This file is part of Redhopper.
-#
-# Redhopper is free software: you can redistribute it and/or modify
-# it under the terms of the GNU Affero General Public License as
-# published by the Free Software Foundation, either version 3 of the
-# License, or (at your option) any later version.
-#
-# Redhopper is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU Affero General Public License for more details.
-#
-# You should have received a copy of the GNU Affero General Public License
-# along with Redhopper.  If not, see <http://www.gnu.org/licenses/>.
-#
%h3
  = t('.configuration.title')

%table
  %tbody
    %tr
      %th
        = t('.configuration.hidden_trackers.title')
      %td
        - Tracker.sorted.each do |tracker|
          = check_box_tag "settings[hidden_tracker_ids][]", tracker.id, Setting.plugin_redhopper.present? && Setting.plugin_redhopper["hidden_tracker_ids"].present? ? Setting.plugin_redhopper["hidden_tracker_ids"].include?(tracker.id.to_s) : false
          = tracker.name

- features = ["hide_tracker_name", "move_back_to_unsorted", "only_open_statuses", "display_description_tooltip"]
%h3
  = t('.feature_switches.title')

%table
  %tbody
    = render partial: "feature", collection: features
